* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundTheme: black;
  --textTheme: white;
}

body {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: var(--backgroundTheme);
  color: var(--textTheme);
}

section {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  text-align: center;
  font-size: 3.5em;
  font-weight: bolder;
}

nav {
  text-align: center;
}

form {
  text-align: center;
}

label,
input,
button {
  display: block;
  font-size: 1.5em;
  padding: 0.5rem;
  text-align: center;
  height: 100%;
  width: 100%;
  border: none;
}

input {
  padding-left: 2.5em;
}
